/**
 * base
 */

@font-face {
	font-family: 'colonel';
 	src: url('../fonts/colonel.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'din-condensed-bold';
 	src: url('../fonts/din-condensed-bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'stanley';
 	src: url('../fonts/stanley.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


.title {
	font-family: 'colonel';
	text-transform: uppercase;
}

p {
	font-family: 'stanley';
	margin-bottom: 20px;
}

.counter,
.counter-text,
.button {
	font-family: 'din-condensed-bold';
	text-transform: uppercase;
}


html {
	overflow: hidden;
	font-size: 24px;
}

.block:not(:last-child),
.content:not(:last-child),
.title:not(:last-child),
.subtitle:not(:last-child),
.message:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.highlight:not(:last-child),
.navbar:not(:last-child),
.tabs:not(:last-child),
.box:not(:last-child) {
	margin-bottom: 17px;
}

.icons {
	position: absolute;
	right: 50px;
	bottom: 50px;
	height: 50px;
	width: 94px;
	background-image: url(../img/icons.png);
}

.hero.is-bbh {
	color: #222324;
	background-image: url(../img/holz.jpg);
	background-position: center;
	background-size: cover;
	border: 11px solid black;
	text-align: start;
}

.hero.is-bbh.is-fullheight > .hero-content {
	justify-content: flex-start;
}

.hero-header {
	margin-top: 25px;
}

.hero-header .container {
	max-width: none;
	width: 1180px;
}

.hero-header.hidden {
	visibility: hidden;
}

.hero-header .title {
	font-size: 28px;
	margin-right: 10px;
	margin-bottom: 0;
	padding-top: 6px;
}

.counter,
.counter-text {
	font-size: 28px;
	padding: 10px 10px 6px;
}

.counter {
	border: 3px solid black;
}

.hero-content {
	padding: 0;
}

.hero-content > .container {
	padding: 0 30px 30px 30px;
	margin-top: 140px;
	max-width: none;
	width: 1025px;
}

.hero-content > .container .title {
	font-size: 53px;
}

.hero-content > .container::before {
	display: block;
	content: ' ';
	background-image: url(../img/arrow_big.png);
	position: absolute;
	top: 15px;
	left: -75px;
	height: 24px;
	width: 82px;
}

.header-item,
.header-item .button,
.button.header-item {
	color: black;
}

.header-item .button:hover,
.header-item .button:active {
	color: black;
}

.hero .header .container {
	box-shadow: none;
}

.button,
.button:focus {
	background: transparent;
	border: 3px solid black;
	/*line-height: 0;*/
}

.button.is-medium {
	/*height: 60px;*/
	font-size: 25px;
}

.button.is-large {
	height: 60px;
	font-size: 39px;
}

.button:hover,
.button:active {
	background: white;
	color: black;
	border-color: white;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.button,
.notification {
	border-radius: 0;
}

/**
 * button arrow icon
 */
/* after */
.button.arrow-after.arrow-big {
	padding-right: 80px;
}

.button.arrow-after.arrow-big::after {
	display: block;
	content: ' ';
	background-image: url(../img/arrow_clean_big_right.png);
	position: absolute;
	top: 0.5em;
	right: 20px;
	height: 13px;
	width: 47px;
}

/* before */
.button.arrow-before.arrow-big {
	padding-left: 80px;
}

.button.arrow-before.arrow-small {
	padding-left: 60px;
}

.button.arrow-before::before {
	display: block;
	content: ' ';
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}

.button.arrow-before.arrow-big::before {
	background-image: url(../img/arrow_clean_big_left.png);
	top: 0.5em;
	left: 20px;
	height: 13px;
	width: 47px;
}

.button.arrow-before.arrow-small::before {
	background-image: url(../img/arrow_clean_small_left.png);
	top: 0.45em;
	left: 0.5em;
	height: 10px;
	width: 33px;
}

/**
 * index
 */

/**
 * quiz
 */
.answers {
	display: flex;
	flex-wrap: wrap;
}

.answer.button.is-large {
	padding: 16px 20px;
	display: flex;
	height: auto !important;
	white-space: normal;
	line-height: 1em;

	/* iiih */
	width: 47%;
	margin: 10px;

	transition-duration: 200ms;
	transition-timing-function: linear;
	transition-property: background-color, border-color, color;

}

.answer:hover,
.answer:focus,
.answer:active {
	background: transparent;
	color: black;
	border-color: black;
	-webkit-filter: none;
	filter: none;
}

.answer.right {
	background-color: #31ca36;
	border-color: #31ca36;
	color: white;
}

.answer.wrong {
	background-color: #bd0b17;
	border-color: #bd0b17;
	color: white;
}
